PORT=3000
DB_HOST=db
DB_PORT=3306
DB_DATABASE=coachingnew
DB_USER=evalcoach_user
DB_PASSWORD=CAMBIAR_PASSWORD
JWT_SECRET=CAMBIAR_SECRET
JWT_EXPIRES_IN=8h
CORS_ORIGIN=http://localhost:4200,http://pacheco.chillan.ubiobio.cl:8073